.ai-button {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: radial-gradient(circle at top left, #00f6ff, #0044ff);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 18px;
	font-family: Arial, sans-serif;
	cursor: pointer;
	z-index: 2;
	box-shadow: 0 0 25px rgba(0, 170, 255, 0.6);
	transition: transform 0.3s ease;
}

.ai-button:hover {
	transform: scale(1.08);
}

/* AI Wave Effect */
.ai-button::before,
.ai-button::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid rgba(0, 200, 255, 0.6);
	animation: pulse 2.5s infinite;
}

.ant-float-btn,
.ant-float-btn-body {
	background-color: radial-gradient(
		circle at top left,
		#00f6ff,
		#0044ff
	) !important  ;
	box-shadow: none !important;
}

.ai-button::after {
	animation-delay: 1.25s;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}
	100% {
		transform: scale(1.8);
		opacity: 0;
	}
}
